<div>
  <mat-table [dataSource]="accounts">

    <mat-form-field>
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{i + 1}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef>CREATED</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.created | date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef>ACTIVE</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.active}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="person">
      <mat-header-cell *matHeaderCellDef>PERSON</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.person.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell  *matHeaderCellDef >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EDIT</mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <button mat-button (click)="edit()"><mat-icon>create</mat-icon></button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove">
      <mat-header-cell  *matHeaderCellDef> &nbsp;&nbsp;REMOVE</mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <button mat-button (click)="remove()" ><mat-icon>clear</mat-icon></button>
      </mat-cell>
    </ng-container>


    <ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </ng-container>

<!--    <mat-paginator [length]="5" [pageSize]="3" [pageSizeOptions]="[5, 10, 25]">-->
  </mat-table>
  <br>
  <button type="button" (click)="add()"> Добавить запись</button>   <button type="button" (click)="print()"> Печать</button>
</div>
